<div class="modal-content">
  <div class="modal-body">
    <form [formGroup]="newForm" (ngSubmit)="onSubmit()" id="newForm">
      <div class="d-flex mb-3">
        <div class="flex-grow-1 bd-highlight">
          <label id="edit_record_title" class="fs-3">Add new Resource</label>
          <div class="px-2 bd-highlight float-end">
            <button class="btn btn-outline-primary">Save</button>
          </div>
          <div class="px-2 bd-highlight float-end">
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="closeModal()"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
      <hr />
      <div id="editRecordModalForm" class="row g-3">
        <div class="col-md-6 py-2">
          <div class="form-group">
            <label for="name" class="form-label fw-bold"
              >Resource Name<span class="text-danger">*</span></label
            >
            <input
              type="text"
              name="name"
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
        <div class="col-md-6 py-2">
          <div class="form-group">
            <label for="resourceType" class="form-label fw-bold"
              >Resource Type<span class="text-danger">*</span></label
            >
            <ng-select
              [items]="resourceTypes"
              bindLabel="type"
              bindValue="_id"
              formControlName="type"
            >
            </ng-select>
          </div>
        </div>
        <div class="row py-2">
          <div class="col-md-12 py-2">
          <label for="resourceCapacityType" class="form-label fw-bold py-2" style="width:30%"
          >Resource Capacity Type<span class="text-danger">*</span></label
        >

            <div class="form-check form-check-inline m-0">
            <input
              class="form-check-input"
              formControlName="resourceCapacityType"
              type="radio"
              id="physicalResource"
              [value]="1"
              name="resourceCapacityType"
              checked
            />
            <label class="form-check-label" for="physicalResource"
              >Physical Resource</label
            >
            </div>
              <div class="form-check form-check-inline" style="padding-left: 32px;     margin-left: 15px;">
              <input
                class="form-check-input"
                formControlName="resourceCapacityType"
                type="radio"
                id="virtualResource"
                [value]="2"
                name="resourceCapacityType"
              />
              <label class="form-check-label" for="virtualResource"
                >Virtual Resource</label
              >
            </div>
            
          </div>
        </div>
        <div class="col-md-6 py-2">
          <div
            class="form-check form-check-inline m-0"
            (change)="autoApprovalChange($event)"
          >
            <input
              class="form-check-input"
              formControlName="autoApproval"
              type="checkbox"
              id="inlineCheckbox1"
              value="option1"
            />
            <label class="form-check-label" for="inlineCheckbox1"
              >Auto-approval</label
            >
          </div>
        </div>

        <div class="col-md-6 py-2" *ngIf="showAutoApprovalTimeslot">
          <label for="startTime" class="form-label fw-bold"
            >From<span class="text-danger">*</span></label
          >
          <ngb-timepicker
            formControlName="startTime"
            [spinners]="false"
            [meridian]="false"
          >
          </ngb-timepicker>
        </div>
        <div class="col-md-6 py-2" *ngIf="showAutoApprovalTimeslot">
          <label for="endTime" class="form-label fw-bold"
            >To<span class="text-danger">*</span></label
          >
          <ngb-timepicker
            formControlName="endTime"
            [spinners]="false"
            [meridian]="false"
          >
          </ngb-timepicker>
        </div>
        <div class="col-md-12 py-2">
          <label for="location" class="fw-bold">Location</label>
          <textarea
            name="location"
            formControlName="location"
            class="form-control"
            rows="3"
          ></textarea>
        </div>
        <div class="col-md-6 py-2">
          <div class="form-group">
            <label for="watchers" class="form-label fw-bold">Watchers</label>
            <ng-select
              [items]="users$ | async"
              [multiple]="true"
              bindLabel="name"
              bindValue="_id"
              formControlName="watchers"
            >
            </ng-select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
