<section>
  <div class="card">
    <div class="card-body p-5">
      <div class="row my-3">
        <div class="col-12 d-flex justify-content-between">
          <span class="fs-3">Schedule Types</span>

          <a class="btn float-end" (click)="addRecord()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="green"
              class="bi bi-plus-square-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="table-responsive">
        <table class="mtable">
          <thead class="">
            <tr>
              <th scope="col">Actions</th>
              <th scope="col">Schedule Type Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of rows; index as rowIndex">
              <td>
                <i
                  (click)="viewRecord(row)"
                  class="bi bi-eye bg-info text-white me-1"
                ></i>
                <i
                  (click)="editRecord(row)"
                  class="bi bi-pencil-square bg-primary text-white me-1"
                ></i>
                <i
                  (click)="deleteAction(row._id)"
                  class="bi bi-trash3 text-white me-1"
                  [ngClass]="{
                    'bg-danger': true,
                    'bg-secondary': false
                  }"
                ></i>
              </td>
              <td>
                <strong> {{ row.name }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav
        aria-label="Page navigation example"
        class="mt-3"
        *ngIf="totalPages > 0"
      >
        <div class="row">
          <div class="col">
            <small class="text-muted"
              >Showing {{ filters.page * filters.limit + 1 }} to
              {{ filters.page * filters.limit + rows.length }} of
              {{ totalRecords }} records</small
            >
          </div>
          <div class="col">
            <ul class="pagination justify-content-end">
              <li
                class="page-item"
                [ngClass]="{ disabled: filters.page === 0 }"
              >
                <button
                  type="button"
                  class="page-link"
                  (click)="setPage(0)"
                  aria-label="Previous"
                >
                  <span aria-hidden="true">&laquo;</span>
                </button>
              </li>
              <li
                class="page-item"
                [ngClass]="{ disabled: filters.page === 0 }"
              >
                <button
                  type="button"
                  class="page-link"
                  (click)="setPage(filters.page - 1)"
                  aria-label="Previous"
                >
                  <span aria-hidden="true">&lt;</span>
                </button>
              </li>
              <li
                class="page-item"
                *ngFor="let page of pageList"
                [ngClass]="{ active: filters.page === page }"
              >
                <button type="button" class="page-link" (click)="setPage(page)">
                  {{ page + 1 }}
                </button>
              </li>
              <li
                [ngClass]="{ disabled: filters.page === totalPages - 1 }"
                class="page-item"
              >
                <button
                  type="button"
                  class="page-link"
                  (click)="setPage(filters.page + 1)"
                >
                  <span aria-hidden="true">&gt;</span>
                </button>
              </li>
              <li
                class="page-item"
                [ngClass]="{ disabled: filters.page === totalPages - 1 }"
              >
                <button
                  type="button"
                  class="page-link"
                  (click)="setPage(totalPages)"
                  aria-label="Next"
                >
                  <span aria-hidden="true">&raquo;</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
<ng-template #confirmModalContent let-modal>
  <div class="modal-body">
    <h5>Are you sure?</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="deleteRecord()">
      Delete
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
      Cancel
    </button>
  </div>
</ng-template>
